<form method="post" action="{{ path('toernooi_delete', {'id': toernooi.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ toernooi.id) }}">
    <button class="btn btn-danger">Verwijderen</button>
</form>
