{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
<h1>User toevoegen</h1>
<hr>
{{ include('user/_form.html.twig') }}
<br>
<a class="btn btn-primary" href="{{ path('user_index') }}">Terug</a>
{% endblock %}
